<div nz-row>
  <nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>Love Plan</nz-page-header-title>
    <nz-page-header-subtitle>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Design</nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href="#">Composition</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item [nzOverlay]="menu">
          <a href="#">Applications</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Do Be Do Be Do Be</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>General</li>
          <li nz-menu-item>Layout</li>
          <li nz-menu-item>Navigation</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nzType="dashed">
        <i nz-icon [nzType]="'build'" [nzSpin]="defSpin">
        </i>
      </button>
      <button nz-button nzType="dashed">
        <i nz-icon [nzType]="'setting'" [nzSpin]="defSpin">
        </i>
      </button>
      <button nz-button>
        <i nz-icon
           [nzType]="'heart'"
           [nzSpin]="defSpin"
           [nzTheme]="'twotone'"
           [nzTwotoneColor]="'#eb2f96'"
        >
        </i>
      </button>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        <div class="main">
          <nz-descriptions nzSize="small" [nzColumn]="2">
            <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Sabine Bodmer</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div class="extra">
          <div>
            <nz-statistic nzTitle="Status" nzValue="Pending"></nz-statistic>
            <nz-statistic nzTitle="Price" [nzValue]="696.69" nzPrefix="$" style="margin: 0 32px"></nz-statistic>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</div>

<div nz-row nzAlign="middle" nzJustify="end">
  <div nz-col class="gutter-row" [nzSpan]="24">
    <div class="inner-box">
      <nz-divider nzDashed [nzText]="text" >
        <ng-template #text>
          Duals
        </ng-template>
      </nz-divider>
    </div>
  </div>
</div>

<div nz-row nzAlign="middle" nzJustify="end">
  <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let d of xyz">
    <div nz-row class="inner-box">
      <ng-container *ngTemplateOutlet="timelineTemp" ></ng-container>
    </div>
    <div nz-row class="inner-box">
      <nz-progress [nzPercent]="100" [nzSteps]="5" nzStrokeColor="#1890ff"></nz-progress>
    </div>
  </div>

  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="inner-box">
      <div nz-col class="gutter-row">
        <div class="inner-box">
          <div id="myNetwork"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row nzAlign="middle" nzJustify="end">
  <div nz-col class="gutter-row" [nzSpan]="24">
    <div class="inner-box">
      <nz-divider nzDashed [nzText]="text2" >
        <ng-template #text2>
          Meta
        </ng-template>
      </nz-divider>
    </div>
  </div>
</div>
<div nz-row nzAlign="middle" nzJustify="end">
  <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let d of xyz">
    <div class="inner-box">
      <ng-container *ngTemplateOutlet="timelineTemp2"></ng-container>
    </div>
    <div nz-row class="inner-box">
      <nz-progress [nzPercent]="100" [nzSteps]="5" nzStrokeColor="#1890ff"></nz-progress>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="inner-box">
      <div nz-col class="gutter-row">
        <div class="inner-box">
          <div id="myMetaNetwork"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #timelineTemp>
  <nz-timeline>
    <nz-timeline-item>m</nz-timeline-item>
    <nz-timeline-item>m-1</nz-timeline-item>
    <nz-timeline-item nzColor="red" [nzDot]="dotTemplate">...</nz-timeline-item>
    <nz-timeline-item>0</nz-timeline-item>
  </nz-timeline>
</ng-template>
<ng-template #timelineTemp2>
  <nz-timeline>
    <nz-timeline-item>0</nz-timeline-item>
    <nz-timeline-item nzColor="red" [nzDot]="dotTemplate">...</nz-timeline-item>
    <nz-timeline-item>n-1</nz-timeline-item>
    <nz-timeline-item>n</nz-timeline-item>
  </nz-timeline>
</ng-template>
<ng-template #dotTemplate>
  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
</ng-template>

