:host {
  display: block;
}
#myNetwork {
  width: 700px;
  height: 300px;
}

#vertDiv {
  transform: translate(50%, 50%) rotate(90deg);
}

#reflected {
  transform: translate(-50%, -50%) rotate(180deg);
}

.network {
  width: 725px;
  height: 350px;
}
