:host {
  display: block;
}
#myNetwork {
  width: 700px;
  height: 300px;
}

#vertDiv {
  transform: translate(50%, 50%) rotate(90deg);
}

#reflected {
  transform: translate(-50%, -50%) rotate(180deg);
}

.inner-box {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  align-content: baseline;
}

.network {
  width: 725px;
  height: 350px;
}
