<div nz-row nzAlign="top" nzJustify="start">
  <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let d of [0, 1, 2]">
    <div nz-row class="inner-box">
      <ng-container *ngTemplateOutlet="timelineTemp" ></ng-container>
    </div>
    <div nz-row class="inner-box">
      <nz-progress [nzPercent]="100" [nzSteps]="5" nzStrokeColor="#1890ff" [nzShowInfo]="false"></nz-progress>
    </div>
    <ng-template #timelineTemp>
      <nz-timeline>
        <nz-timeline-item>m</nz-timeline-item>
        <nz-timeline-item>m-1</nz-timeline-item>
        <nz-timeline-item nzColor="red" [nzDot]="dotTemplate">...</nz-timeline-item>
        <nz-timeline-item>0</nz-timeline-item>
      </nz-timeline>
    </ng-template>
    <ng-template #dotTemplate>
      <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
    </ng-template>
  </div>
</div>

