.inner-box {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  align-content: baseline;
}

nz-steps {
  display: block;
  margin-bottom: 60px;
  box-shadow: rgb(232, 232, 232) 0px -1px 0px 0 inset;
}
