<div nz-row>
  <nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>Love Plan</nz-page-header-title>
    <nz-page-header-subtitle>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Design</nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href="#">Composition</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item [nzOverlay]="menu">
          <a href="#">Applications</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Do Be Do Be Do Be</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>General</li>
          <li nz-menu-item>Layout</li>
          <li nz-menu-item>Navigation</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-subtitle>
    <nz-page-header-extra>
    <cosys-graph-toolbox></cosys-graph-toolbox>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        <div class="main">
          <nz-descriptions nzSize="small" [nzColumn]="2">
            <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Sabine Bodmer</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div class="extra">
          <div>
            <nz-statistic nzTitle="Status" nzValue="Pending"></nz-statistic>
            <nz-statistic nzTitle="Price" [nzValue]="696.69" nzPrefix="$" style="margin: 0 32px"></nz-statistic>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</div>
