<header class="header-3">
  <div class="branding">
    <a href="#" class="nav-link">
      <mat-icon class="ac_unit"></mat-icon>
      <span class="title">Project tr33ngl</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/scripts" routerLinkActive="active" #scripts class="nav-link nav-text">Home</a>
    <a routerLink="/plays" routerLinkActive="active" #plays class="nav-link nav-text">Play</a>
  </div>

  <div class="header-actions">
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="  Search..." />
      </label>
    </form>
    <a href="#" class="nav-link nav-icon" aria-label="settings">
      <mat-icon *ngIf="className !== 'darkMode'" class="lightbulb_outline" (click)='onDarkening()'>lightbulb_outline</mat-icon>
      <mat-icon *ngIf="className === 'darkMode'" class="lightbulb" (click)='onDarkening()'>lightbulb</mat-icon>
    </a>
  </div>
</header>

