.main {
  padding-top: 5px;
  padding-left: 10px;
}

.content {
  display: flex;
}


.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}



.extra > div {
  display: flex;
  width: max-content;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .content {
    display: block;
  }

  .main {
    width: 100%;
    margin-bottom: 12px;
  }

  .extra {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
}
